.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    color: white;
    margin-top: 2rem;
    &-text{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
    h1 {
        font-size: 4rem;
    }
    &-image {
        height: 15rem;
        border-radius: 10rem;
    }
    &-links{
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        a{
            color: var(--accent-color);
            svg {
                font-size: 3rem;
            }
        }
    }
}